<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>673</string>
	<key>Platform</key>
	<string>iOS</string>
	<key>ProductBuildVersion</key>
	<string>15F31d</string>
	<key>ProjectMetadata</key>
	<array>
		<dict>
			<key>Project</key>
			<string>XCTest</string>
			<key>Version</key>
			<string>22720</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>Mercury</string>
			<key>Version</key>
			<string>49</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>LiveExecutionResultsLogger</string>
			<key>Version</key>
			<string>19506</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>JetsamProperties</string>
			<key>Version</key>
			<string>1925.120.11</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>GPUToolsDevice_DDI</string>
			<key>Version</key>
			<string>270.8</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>DTOCMock</string>
			<key>Version</key>
			<string>22600</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>DTDeveloperDiskImageSupport</string>
			<key>Version</key>
			<string>14.0.0</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>CoreDevice</string>
			<key>Version</key>
			<string>355.28</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>Citrine</string>
			<key>Version</key>
			<string>25.1.1</string>
		</dict>
	</array>
	<key>Variant</key>
	<string>Public</string>
</dict>
</plist>
